body {
  background-color: rgb(234,234,234);
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24,42,115) 0%,
    rgb(33,138,174) 69%,
    rgb(32,167,172) 89%
    
  )!important;
}

/* app styles */
 
/*
.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6d3d6d;
}

.navbar h1 {
  margin: 10px 0;
}
nav {
  padding: 5px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
driver-list {
  padding: 20px;
  margin-bottom: 20px;
}
.driver-list ul {
  padding: 0;
  list-style-type: none;
}
.driver-list li {
  background: #6d6d6d;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
}
.driver-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}
.driver-list .title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}
.driver-list .typeV {
  font-size: 0.9em;
  color: #ddd;
}
.empty {
  margin: 20px;
  text-align: center;
} */
form {
  padding-top: 60px;
}


 input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #3c1f3c;
  color: #fff;
  border: 0;
}
input[type="submit"] {
  margin: 10px auto;
  background: #eee;
  border: 0;
  padding: 6px 20px;
  display: block;
} 
